@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: 'Saira', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #00E4FF;
}
::-webkit-scrollbar-thumb {
  background: #0357FF;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3476da;
}
body {
  overflow: hidden;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
}
